/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
}

p {
  font-size: 12px;
  line-height: 2;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 40px;
}

.input-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 10px;
}

input[type='text'] {
  background-color: #fff;
}

.input-field::placeholder {
  color: #808080;
}

.input-field:hover {
  border: 1px solid #000;
}

.input-field:focus-within {
  border: 1px solid #4e75ff;
  border-color: #4e75ff;
}

.btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font: inherit;
  font-weight: 500;
}

.btn button:hover {
  background-color: #6c8cff;
}

.gallery-result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  justify-content: center;
  margin: 0 auto;
}

.list-container {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-container:hover,
.list-container:focus {
  box-shadow: 0 3px 3px 0 rgba(46, 47, 66, 0.08),
    0 2px 2px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.image-container {
  border: none;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  overflow: hidden;
}

.image-container img {
  cursor: pointer;
}

.descr-list {
  background-color: #fff;
  display: flex;
  text-align: center;
  gap: 32px;
  padding: 4px 16px 4px 16px;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.spinner {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 2px solid black;
  border-top: 2px solid white;
  animation: spin 0.5s ease-in-out infinite;
  margin: 0 auto;
}

.loading-text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.query-word {
  font-weight: 600;
}

.query-text {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.more {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.top {
  border: none;
  font-size: 40px;
  display: flex;
  background-color: transparent;
  margin: 0 auto;
  margin-right: 0;
}

.disabled {
  display: none;
}
